body {
  background-color: rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
}

.rhap_main-controls button {
  color: #1DB954;
}
.rhap_time{
color: #ffffff;
}
.rhap_time, .rhap_total-time{
color: #fff;
background-color: #131313;
}
.rhap_main, .rhap_stacked{
 background-color: #131313;
}
.rhap_container, .rhap_loop--off, .rhap_play-status--paused{
  background-color: #131313;
}
.rhap_progress-section{
  background-color: #131313;
}
.rhap_progress-container{
  background-color: #131313;
}
.rhap_progress-indicator{
  color: #1DB954;
}
.rhap_controls-section{
  background-color: #131313;
}
.rhap_additional-controls, .rhap_volume-controls, .rhap_volume-controls, .rhap_volume-container, .rhap_volume-bar-area{
  background-color: #131313;
}

.rhap_container, .svg{
  background-color: #1DB954;
} 
*{
  background-color: rgb(22, 22, 22);
}
.rhap_time {
  color: #fff !important
}
.rhap_progress-filled{
  background: #1DB954 !important;
}

.rhap_progress-indicator {
  background-color: #1DB954 !important ;
  width: 12px !important;
    height: 12px !important;
    top: -4px !important ;
}

.rhap_volume-indicator{
  background-color: #1DB954 !important
}
.rhap_progress-bar{
height: 3.4px !important;
}