.rhap_main-controls button {
    color: #1DB954;
  }
  .rhap_time{
  color: #ffffff;
  }
  .rhap_time, .rhap_total-time{
  color: #fff;
  background-color: #131313;
  }
  .rhap_main, .rhap_stacked{
   background-color: #131313;
  }
  .rhap_container, .rhap_loop--off, .rhap_play-status--paused{
    background-color: #131313;
  }
  .rhap_progress-section{
    background-color: #131313;
  }
  .rhap_progress-container{
    background-color: #131313;
  }
  .rhap_progress-indicator{
    color: #1DB954;
  }
  .rhap_controls-section{
    background-color: #131313;
  }
  .rhap_additional-controls, .rhap_volume-controls, .rhap_volume-controls, .rhap_volume-container, .rhap_volume-bar-area{
    background-color: #131313;
  }
  
  .rhap_container, .svg{
    background-color: #1DB954;
  } 
  .rhap_time {
    color: #fff !important
  }
  .rhap_progress-filled{
    background: #1DB954 !important;
  }
  /* body{
    background-color: #1a1a1a;
  } */
  .rhap_progress-indicator {
    background-color: #1DB954 !important ;
    width: 12px !important;
      height: 12px !important;
      top: -4px !important ;
  }
  
  .rhap_volume-indicator{
    background-color: #1DB954 !important
  }
  .rhap_progress-bar{
  height: 3.4px !important;
  }

  .logoDiv{
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 84%;
    align-items: center;
  }
  .logoDiv>img{
    width: 60px;
  }

  .linkDiv{
    margin-top: 50px;
    text-decoration: none;
    font-size: 16px;
  }
  /* .linkDiv>input{
    width: 92%;
    background-color: black;
    border: 1px solid #8f8f8f;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    height: 22px;
    padding: 10px;
  } */
  input::-webkit-input-placeholder{
    color:#959595
  }

  .navLinks{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
  }

  .navLinks:hover{
    color: #1DB954;
    background-color: #181818;
    font-weight: bold;
  }

  .navLinksClick{
    color: #1DB954;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    background-color: #232323;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .songCardDiv{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #151515;
  }

  .songCardDiv:hover{
    background-color: rgb(33, 33, 33);

  }
  .songCardDiv>img{
    width: 100%;
    height: 160px;
    margin: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .songCardDiv>h3{
    margin: 14px 0px 14px 0px;
  }
  .songCardDiv>p{
    font-size: 12px;
  }
  .songCardDiv>button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1DB954;
    border: none;
    position: absolute;
    z-index: 1;
    margin-top: -55px;
    margin-left: 120px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .songCardDiv>button:hover{
    background-color: #0c913b;
    color: #fff;
  }

  .footerDiv{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .footerDiv>div>div>h3{
    font-size: 17px;
    margin-bottom:20px
  }
  .fooLinks{
    color: #8f8f8f;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .fooLinks:hover{
    color: #ffffff;
    text-decoration: underline;
    display: block;

  }